# This file is loaded by direnv when you enter the directory.

# 1. This command tells direnv to load the environment defined in flake.nix
use_flake

# 2. Export a custom environment variable for our C program to use
export GREETING="Greetings from a Flake"

